.home {
    width: 100vw;
    height: 100vh;
    background-color: red;
    
    &__navbar {
        display: flex;
        justify-content: space-around;
        outline: 2px solid white;;
    }

    &__control-box {

        height: 100%;
        width: 100%;
        background-color: rgb(253, 253, 253);

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.control-box {
    &__image {
        min-height: 300px;
        min-width: 300px;
        border-radius: 50%;
        background-color: rgb(212, 212, 212);

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: calc((100% / 4) - 120px);
        left: calc((100% / 2) - 160px);
    }

    &__navbar-box {
        margin: 20px 0 0 0;
        width: 100vw;
        height: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 0.7rem;
        background-color: orange;
    }

    &__navbar-title {
        border-radius: 1rem;
        padding: 0.4rem;
        cursor: pointer;
        margin: 0 10px;

        &:hover {
            background-color: white;
        }
    }
}